.hidden {
    display: none;
}

#game_canvas {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 10px;
}

#mainMenu {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 10px;
}

#optionMenu {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 10px;
}

#optionMenuInGame {
    background-image: url("./ingameMenu.png");
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 10px;
}

#pauseMenu {
    background-image: url("./ingameMenu.png");
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 160px;
    left: 260px;
}

#highscoreMenu {
    background-image: url("./menuback2.png");
    width: 800px;
    height: 600px;
    position: absolute;
    top: 10px;
}

#start {
    background-image: url("./buttonStart.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 380px;
    left: -8px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#start:hover {
    left: 1px;
}

#option {
    background-image: url("./buttonOptions.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 445px;
    left: -8px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#option:hover {
    left: 1px;
}

#highscore {
    background-image: url("./buttonHighscore.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 510px;
    left: -8px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#highscore:hover {
    left: 1px;
}

#continue {
    background-image: url("./buttonContinue.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 50px;
    left: 34px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#continue:hover {
    width: 200px;
    height: 50px;
    top: 48px;
    left: 29px;
}

#option2 {
    background-image: url("./buttonOptions.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 125px;
    left: 34px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#option2:hover {
    width: 200px;
    height: 50px;
    top: 123px;
    left: 29px;
}

#optionMenuInGame {
    background-image: url("./ingameMenu.png");
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 160px;
    left: 260px;
}

#exit2 {
    background-image: url("./buttonBack.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 200px;
    left: 34px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#exit2:hover {
    width: 200px;
    height: 50px;
    top: 198px;
    left: 29px;
}

#back {
    background-image: url("./buttonBack.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 200px;
    left: 34px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#back:hover {
    width: 200px;
    height: 50px;
    top: 198px;
    left: 29px;
}

#backMain {
    background-image: url("./buttonBack.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 380px;
    left: -8px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#backMain:hover {
    left: 1px;
}

#backMainFromHS {
    background-image: url("./buttonBack.png");
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 380px;
    left: -8px;
    position: absolute;
    width: 180px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

#backMainFromHS:hover {
    left: 1px;
}

input[type=range] {
    width: 30%;
}

#highscoreTable {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    top: 170px;
    left: 300px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25%;
    color: aliceblue;
    text-align: center;
}

td,
th {
    width: 70px;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #009b866e;
}

tr:nth-child(odd) {
    background-color: #882f2f80;
}

button {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: white;
    font-size: 24px;
    border: 1px solid lightgrey;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0 10px;
}

#minus1 {}

#plus1 {}

#minus2 {}

#plus2 {}